@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number and unit($breakpoint) == "px" {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if(type-of($breakpoint) == number and unit($breakpoint) == "em") {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin button($bgc, $color, $textTransform, $width, $marginTop, $hover) {
  background-color: $bgc;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: $color;
  font-family: $font-space-mono;
  text-transform: $textTransform;
  width: $width;
  margin-top: $marginTop;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $hover;
    color: $very-dark-cyan;
  }

  &[disabled="true"] {
    opacity: 0.2;
    cursor: initial;
  }
}
